@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

.imgs {
    width: 49px;
    height: 49px;
}

.logo_img {
    width: 90px;
    height: 90px;
}

.logo {
    font-size: 48px;
}

.logotip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.for_imgs {
    display: flex;
    justify-content: space-between;
    width: 207px;
}

.head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}

/* FOOTER */

footer {
    margin-top: auto;
}

.container_end {
    display: flex;
    width: 100%;
    height: 455px;
    background-color: #BA988B;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: center;
    align-items: center;
}

.text_footer {
    color:#ffffff;
    font-size: 24px;
    margin-top: 27px;
}

.footer_content1 {
    width: 144x;
    height: 400px;
    padding-top: 73px;
}

.footer_content2 {
    width: 144x;
    height: 400px;
    padding-top: 73px;
    padding-left: 250px;
}

.footer_content3{
    display: flex;
    width: 144x;
    height: 400px;
    padding-left: 200px;
}

.img_footer {
    padding-top: 73px;
    padding-right: 15px;
}

.img_footer_others {
    padding-top: 73px;
    padding-right: 15px;
}

.logo_column {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
}

.logo_footer {
    width: 300px;
    height: 300px;
    margin-left: 190px;
}