@import "null.css";

head, body, html {
    @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
}

.menu_img {
    width: 49px;
    height: 49px;
    
}

.logo_img {
    width: 90px;
    height: 90px;
}

.logo {
    font-size: 48px;
}

.logotip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_img {
    width: 49px;
    height: 49px;
}

.heart_img {
    width: 49px;
    height: 49px;
}

.shop_img {
    width: 49px;
    height: 49px;
}

.imgs {
    display: flex;
    justify-content: space-between;
    width: 207px;
}

.head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
}

.main_img {
    margin-bottom: 50px;
    width: 100%;
}

.lupa-img {
    display: block;
    width: 39px;
    height: 39px;
}

.search {
    font-size: 36px;
    margin-left: 28px;
    background-color: #D9C5BD;
}

.search_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    border-radius: 7px;
    width: 525px;
    height: 69px;
    background-color: #D9C5BD;
    padding: 14px 20px 16px 20px;
}

.container0 {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 55px;
    width: 1068px;
    height: 68px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 34px;
}

.container_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
}

.container_arrow {
    display: flex;
}

.container1 {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.cap {
    font-size: 48px;
}

.container_cap {
    text-align: center;
    margin-bottom: 53px;
}

.favorite {
    width: 45px;
    height: 45px;
}

.container_favorite {
    display: flex;
    justify-content: end;
    padding-top: 21px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 21px;
    width: 450px;
    height: 490px;
    background-image: url("/static/media/Ring1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.arrow0 {
    width: 73px;
    height: 73px;
}

.pink_arrow {
    width: 73px;
    height: 73px;
}

.container_arrow0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container_arrowpink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container_popular {
    display: flex;
    justify-self: center;
    width: 800px;
    height: 490px;
}

.text_popular {
    font-size: 45px;
}

.text_popular0 {
    display: flex;
    margin-top: 21px;
}

.text_pop {
    font-size: 40px;
}

.container_column {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.text_popular1{
    display: flex;
}

.container2 {
    width: 1200px;
    margin: 0 auto;
}
