@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

.main_img {
    margin-bottom: 50px;
    width: 100%;
}

.lupa-img {
    display: block;
    width: 39px;
    height: 39px;
}

.search {
    font-size: 36px;
    margin-left: 28px;
    background-color: #D9C5BD;
}

.search_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    border-radius: 7px;
    width: 525px;
    height: 69px;
    background-color: #D9C5BD;
    padding: 14px 20px 16px 20px;
}

.container0 {
    width: 1200px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 55px;
    width: 1068px;
    height: 68px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.text {
    font-size: 34px;
}

.container_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
}

.container_arrow {
    display: flex;
}

.container1 {
    width: 1200px;
    margin-bottom: 100px;
}

.cap {
    font-size: 48px;
}

.container_cap {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.favorite {
    position: absolute;
    margin-left: 400px;
    margin-top: -435px;
    width: 45px;
    height: 45px;
}

.ring1 {
    position: relative;
}

.arrow0 {
    width: 73px;
    height: 73px;
}

.pink_arrow {
    width: 73px;
    height: 73px;
}

.container_arrow0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container_arrowpink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container_popular {
    display: flex;
    justify-self: center;
    width: 800px;
    height: 490px;
}

.text_popular {
    font-size: 45px;
}

.text_popular0 {
    display: flex;
    margin-top: 21px;
    margin-bottom: 15px;
}

.text_pop {
    font-size: 40px;
}

.container_column {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 600px;
}

.text_popular1{
    display: flex;
}

.text_Lprice {
    font-size: 32px;
    color: #767676;
    text-decoration: line-through;
    margin-left: 15px;
}

.container2 {
    width: 1200px;
    margin-bottom: 300px;
}

.favorite0 {
    position: absolute;
    margin-left: -45px;
    margin-top: 15px;
    width: 29px;
    height: 29px;
}

.container3 {
    width: 1200px;
    margin-bottom: 200px;
}

.foto_bracelet {
    position: relative;
    width: 238px;
    height: 238px;
}

.container_bracelet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 996px;
    height: 977px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 238px;
    height: 297px;
}

.text_grid {
    margin-top: 8px;
    font-size: 20px;
}

.text_nosale_price {
    font-size: 12px;
    color: #767676;
    text-decoration: line-through;
    margin-top: 8px;
    margin-left: 8px;
}

.price {
    display: flex;
}

.name_jewelry {
    display: flex;
    margin-top: 5px;
}

.special_img {
    width: 530px;
    height: 530px;
}

.container_special_offers {
    display: flex;
    width: 1001px;
    height: 530px;
}

.text_red {
    font-size: 35px;
    color: #A00404;

}

.caption_red {
    display: flex;
    width: 261px;
    margin-bottom: 32px;
    margin-right: 383px;
}

.special_price {
    font-size: 35px;

}

.column_special {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 364px;
    height: 520px;
}

.special_price_nosale {
    font-size: 22px;
    color: #767676;
    text-decoration: line-through;
    margin-left: 17px;
}

.special_favorite {
    width: 40px;
    height: 40px;
    margin-left: 120px;
}

.description {
    font-size: 30px;
    margin-top: 25px;
}

.more {
    font-size: 30px;
}

.read_more {
    font-size: 16px;
    color: #767676;
    margin-top: 12px;
    margin-left: 5px;
}

.container_more {
    display: flex;
}

.arrow_red {
    width: 63px;
    height: 63px;
    margin-top: 215px;
    margin-left: 299px;
}

.container_special {
    width: 1200px;
    height: 520px;
    margin-bottom: 300px;
}

.boss_container {
    width: 1200px;
    margin: 0 auto;
}