@import "null.css";

head, body, html {
    @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
}
.menu_img {
    width: 49px;
    height: 49px;
    margin-left: 39px;
}

.logo_img {
    width: 90px;
    height: 90px;
}

.logo {
    font-size: 48px;
}

.logotip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_img {
    width: 49px;
    height: 49px;
}

.heart_img {
    width: 49px;
    height: 49px;
}

.shop_img {
    width: 49px;
    height: 49px;
}

.imgs {
    display: flex;
    justify-content: space-between;
    width: 207px;
    margin-right: 39px;
}

.head_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}