<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../static/media/Menu.png" alt="Menu" class="menu_img">
        <div class="logotip">
             <img src="../static/media/Group 31.png" alt="Logo" class="logo_img">
            <p class="logo">Eden</p>
        </div>
    </header>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer></footer>
</body>
</html>