<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="head_content">
        <a href="#"><img src="../static/media/Menu.png" alt="Menu" class="menu_img"></a>
        <div class="logotip">
            <a href="#"><img src="../static/media/Group 31.png" alt="Logo" class="logo_img"></a>
            <p class="logo">Eden</p>
        </div>
        <div class="imgs">
            <a href="#"><img src="../static/media/User.png" alt="User" class="user_img"></a>
            <a href="#"> <img src="../static/media/Heart.png" alt="Heart" class="heart_img"></a>
            <a href="#"><img src="../static/media/Shopping Cart.png" alt="Shop" class="shop_img"></a>
        </div>
    </header>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer></footer>
</body>
</html>