{% extends "main.html" %}
{%block main%}
<img src="../static/media/Group 2.png" alt="main" class="main_img">
<div class="boss_container">
    <div class="container0">
        <div class="search_content">
            <img src="../static/media/Lupa.png" alt="Lupa" class="lupa_img">
            <input type="search" placeholder="Search..." class="search">
        </div>
    </div>
    <div class="container1">
        <div class="row">
            <div class="container_text">
                <p class="text"> New products </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Popular </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Special offers </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Rings </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Earrings </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Jewelry on the arm </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="container_text">
                <p class="text"> Pendants and chains </p>
            </div>
            <div class="container_arrow">
                <a href="#"><img src="../static/media/Arrow0.png" alt="arrow" class="arrow"></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="container_cap">
            <p class="cap">Popular</p>
        </div>
        <div class="container_popular">
            <div class="container_arrowpink">
                <img src="../static/media/Arrow0.png" alt="Arrow" class="arrow0">
            </div>
            <div class="container_column">
                <div class="container_favorite">
                    <img src="../static/media/Ring1.png" alt="Ring1" class="ring1">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite"></a>
                </div>
                <div>
                    <div class="text_popular0">
                        <p class="text_popular">8 890$</p>
                        <p class="text_Lprice">10 120$</p>
                    </div>
                    <div class="text_popular1">
                        <p class="text_pop">Golden Ring with Pink Spinel</p>
                    </div>
                </div>
            </div>
            <div class="container_arrow0">
                <a href="#"><img src="../static/media/Pink_arrow.png" alt="Pink_arrow" class="pink_arrow"></a>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="container_cap">
            <p class="cap"> New product </p>
        </div>
        <div class="container_bracelet">
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
            <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
            <div class="column">
                <div class="bracelet">
                    <img src="../static/media/FotoB.png" alt="Bracelet" class="foto_bracelet">
                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                </div>
                <div class="price">
                    <p class="text_grid">30 000$</p>
                    <p class="text_nosale_price">32 500$</p>
                </div>
                <div class="name_jewelry">
                    <p class="text_grid">Gift from the Sun</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container_special">
        <div class="container_cap">
            <p class="cap"> Special offers </p>
        </div>
        <div class="container_special_offers">
            <img src="../static/media/Special_offers.png" alt="Special_offers" class="special_img">
            <div class="column_special">
                <div class="caption_red">
                    <p class="text_red">Italian Notes</p>
                </div>
                <div class="special_text">
                    <div class="price">
                        <p class="special_price">50 500$</p>
                        <p class="special_price_nosale">70 999$</p>
                        <a href="#"><img src="../static/media/Favorite.png" alt="favorite" class="special_favorite"></a>
                    </div>
                </div>
                <div class="container_description">
                    <p class="description">A set of handmade gold rings made by a renowned Italian jeweler</p>
                    <div class="container_more">
                        <p class="more">...</p>
                        <a href="#"><p class="read_more"> Read more</p></a>
                    </div>
                </div>
                <a href="#"><img src="../static/media/Arrow_red.png" alt="arrow red" class="arrow_red"></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}