{% extends "main.html" %}
{%block style%}
    <link rel="stylesheet" href="../static/style/style.css">
{%endblock%}
{%block main%}
<img src="../static/media/Group 2.png" alt="main" class="main_img">
<div class="boss_container">
    <div class="container2">
        <div class="container_cap">
            <p class="cap">Popular</p>
        </div>
        <div class="container_popular">
            <div class="container_arrowpink">
                <img src="../static/media/Arrow0.png" alt="Arrow" class="arrow0">
            </div>
            <div class="container_column">
                <div class="container_card">
                    <img src="../static{{product_jewelrys.img.url}}" alt="Ring1" class="ring1">
                </div>
                <div>
                    <div class="text_popular0">
                        <div class="sum_popular">
                            <p class="text_popular">{{product_jewelrys.price}}$</p>
                            <p class="text_Lprice">{{product_jewelrys.old_price}}$</p>
                        </div>
                        <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite"></a>
                    </div>
                    <div class="text_popular1">
                        <a href="product_card/{{product_jewelrys.id}}"><p class="text_pop">{{product_jewelrys.name}}</p></a>
                    </div>
                </div>
            </div>
            <div class="container_arrow0">
                <a href="#"><img src="../static/media/Pink_arrow.png" alt="Pink_arrow" class="pink_arrow"></a>
            </div>
        </div>
    </div>
    <div class="container_catalog">
        <div class="container1">
            {% for category in categories%}
                <div class="row">
                    <div class="container_text">
                        <a href="?catalogs={{ category.name }}&search={{ request.GET.search }}&sort={{ request.GET.sort }}" {% if request.GET.catalogs == category.name %} style="color: #767676;" {% endif %}><p class="text"> {{category.name}} </p></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="just">
            <div class="container0">
                <div class="search_content">
                    <form class="searchbar" method="get" >
                        <button type="submit" class="button"><img src="../static/media/Lupa.png" alt="lupa" class="lupa"></button>
                        <input type="text" placeholder="Search.." id="search" name="search" value="{{ request.GET.search }}" class="search">
                        {% if request.GET.catalogs %}
                        <input type="hidden" name="catalogs" value="{{ request.GET.catalogs }}">
                        {% endif %}        
                        {% if request.GET.sort %}
                        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                        {% endif %}
                        {% if request.GET.search %}
                            <a href="?{% if request.GET.catalogs %}catalogs={{ request.GET.catalogs }}&{% endif %}{% if request.GET.sort %}sort={{ request.GET.sort }}{% endif %}" id="clear-search"> <img src="../static/media/Close.png" alt="close" class="close"></a>
                        {% endif %}
                    </form>
                </div>
                <div class="width">
                    <form method="get" id="sort-form">
                        <input type="hidden" name="search" value="{{ request.GET.search }}">
                        <input type="hidden" name="catalogs" value="{{ request.GET.catalogs }}">
                        <div class="resets">
                            {% if sort and search_catalogs %}
                            <a href="/?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort={{ request.GET.sort }}" class="reset_button" style="color: #ffffff !important;">Reset category</a>
                            <a href="/?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}catalogs={{ request.GET.catalogs }}" class="reset_button" style="color: #ffffff !important;">Reset sort</a>
                            {% elif search_catalogs%}
                            <a href="/?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}sort={{ request.GET.sort }}" class="reset_button" style="color: #ffffff !important;">Reset category</a>
                            {% elif sort%}
                            <a href="/?{% if request.GET.sort %}search={{ request.GET.search }}&{% endif %}catalogs={{request.GET.catalogs }}" class="reset_button" style="color: #ffffff !important;">Reset sort</a>
                            {% endif %}
                        </div>
                        <select name="sort" id="sort" onchange="this.form.submit()">
                            <option value="sort" class="none">Sort</option>
                            <option value="A-Z" {% if sort == "A-Z" %} selected {% endif %}>A-Z</option>
                            <option value="Z-A" {% if sort == "Z-A" %} selected {% endif %}>Z-A</option>
                            <option value="high_price" {% if sort == "high_price" %} selected {% endif %}>High price - min price</option>
                            <option value="min_price" {% if sort == "min_price" %} selected {% endif %}>Min price - high price</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="container_bracelet">
                {% if all_jewelrys%}
                    {%for jewelry in all_jewelrys%}
                        <div class="column">
                            <div class="bracelet">
                                <img src="../static{{jewelry.img.url}}" alt="Bracelet" class="foto_bracelet">
                            </div>
                        <div class="favorite_price">
                            <div class="price">
                                    <p class="text_grid">{{jewelry.price}}$</p>
                                    <p class="text_nosale_price">{{jewelry.old_price}}$</p>
                                </div>
                                <div class="container_favorite">
                                    <a href="#"><img src="../static/media/Favorite.png" alt="Favorite" class="favorite0"></a>
                                </div>
                        </div>
                            <div class="name_jewelry">
                                <a href="/product_card/{{jewelry.id}}"><p class="text_grid">{{jewelry.name}}</p></a>
                            </div>
                        </div>
                    {%endfor%}
                {% else %}
                    <p class="nothing">There are no products according to your requests!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container_special">
        <div class="container_cap">
            <p class="cap"> Special offers </p>
        </div>
        <div class="container_special_offers">
            <img src="../static{{special.img.url}}" alt="Special_offers" class="special_img">
            <div class="column_special">
                <div class="caption_red">
                    <p class="text_red">{{special.name}}</p>
                </div>
                <div class="special_text">
                    <div class="price">
                        <p class="special_price">{{special.price}}$</p>
                        <p class="special_price_nosale">{{special.old_price}}$</p>
                        <a href="#"><img src="../static/media/Favorite.png" alt="favorite" class="special_favorite"></a>
                    </div>
                </div>
                <div class="container_description">
                    <p class="description">{{special.description}}</p>
                    <div class="container_more">
                        <p class="more">...</p>
                        <a href="/product_card/{{special.id}}"><p class="read_more"> Read more</p></a>
                    </div>
                </div>
                <a href="#"><img src="../static/media/Arrow_red.png" alt="arrow red" class="arrow_red"></a>
            </div>
        </div>
    </div>
</div>
{%endblock%}