{% extends "main.html" %}
{%block main%}
<img src="../static/media/Group 2.png" alt="main" class="main_img">
<div class="container0">
    <div class="search_content">
        <img src="../static/media/Lupa.png" alt="Lupa" class="lupa_img">
        <input type="search" placeholder="Search..." class="search">
    </div>
</div>
<div class="container1">
    <div class="row">
        <div class="container_text">
            <p class="text"> New products </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Popular </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Special offers </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Rings </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Earrings </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Jewelry on the arm </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="row">
        <div class="container_text">
            <p class="text"> Pendants and chains </p>
        </div>
        <div class="container_arrow">
            <a href="#"><img src="../static/media/Arrow.png" alt="arrow" class="arrow"></a>
        </div>
    </div>
</div>
<div class="container2">
    <div class="container_cap">
        <p class="cap">Popular</p>
    </div>
    <div>
        <div class="container_pR">
            <img src="../static/media/Ring1.png" alt="Ring1" class="popular_ring">
            <div class="container_favorite">
                <img src="../static/media/Favorite.png" alt="Favorite" class="favorite">
            </div>
        </div>
    </div>
</div>
{%endblock%}